

body{
    background-color: lightgray;
  }
  
  
  
  
  
  
  footer{
     background-color: rgb(177, 167, 169)
  }
  
  
  
  #red{
    background-color: red
  }
  .orange{
    background-color: rgb(255, 255, 255);
  }
  
  
  p{
    background-color: rgb(73, 42, 214)
  } 
  
  ol{
    list-style-type: decimal;
    padding: 100 px;
  }
  
  
  span{
    background-color: purple;
  }
  
  #inside{
    color: white
  }
  footer ul{
    list-style-type: decimal;
    padding: 100 px;
  }
  